@import "header.css";
@import "interior.css";
@import "about.css";
@import "projects.css";
@import "services.css";
@import "bgimg.css";
@import "contacts.css";
@import "footer.css";

html {
    scroll-behavior: smooth;    
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background: #FFFFFF;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope');
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding-bottom: 150px;
}
