body {
    margin: 0 auto;
    min-width: 1400px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    letter-spacing: -0.03em;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope');
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/* ========================================== */

header {
    margin: 0 auto;
    height: 26px;
    width: 1151px;
    margin-top: 32.5px;
    margin-bottom: 69px;
}

.logo {
    display: inline-block;
}


.menu {
    float: right;
}

.menu__list {
    display: inline-block;
    margin-left: 58px;
}

.menu__link {
    display: inline-block;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color:#121212;
    text-decoration: none;
}

.menu__list:hover {
    border-bottom: 1px solid #12121280;
    padding-bottom: 2px;
    opacity: 0.5;
}

/* ========================================== */

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding-bottom: 150px;
}

.black-section {
    width: 100%;
    background-color: #121212;
    padding-top: 151px;
    padding-bottom: 150px;
}

h1 {
    margin-bottom: 30px;
    width: 956px;
    height: 120px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    letter-spacing: -0.03em;
    color: #121212
}

.about__title,
.projects__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

/* ========================================== */

.interior {
    width: 1150px;
    height: 500px;
    position: relative;
    background-image: url(../images/interior.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.interior__text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

/* ========================================== */

.about__text {
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

.about__btn {
    display: block;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    background-color: #AD1818;

    font-size: 20px;  
    line-height: 67px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

/* ========================================== */

.projects__list {
    margin-bottom: 90px;
}

.projects__item-image {
    width: 1150px;
    height: 450px;
    margin-bottom: 15px;
}

.projects__item-title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

.projects__details {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #AD1818;
    text-decoration: none;
}

.projects__all-btn {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding: 56px 0;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: center;
    text-decoration: none;
    color: #AD1818;
}

.projects__all-btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

/* ========================================== */

.services__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

.services__image {
    height: 270px;
    margin-bottom: 15px;
}

.services__text {
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF; 
}

.services__list {
    margin-bottom: 58px;
}

.services__list:last-child {
    margin-bottom: 0;
}

/* ========================================== */

    