html {
    scroll-behavior: smooth;    
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background: #FFFFFF;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope');
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding-bottom: 150px;
}

/* ========================================== */

.header {
    margin-top: 33px;
    margin-bottom: 70px;
}

.header__logo {
    display: inline-block;
}

.header__menu {
    float: right;
}

.header__menu-list {
    display: inline-block;    
}

.header__menu-link {
    display: inline-block;
    margin-left: 57px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color:#121212;
    text-decoration: none;
}

.header__menu-link:hover {
    border-bottom: 1px solid #121212;
    padding-bottom: 2px;
    opacity: 0.5;
}

/* ========================================== */

.interior__title {
    margin-bottom: 30px;
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    letter-spacing: -0.03em;
    color: #121212
}

.about__title,
.projects__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

/* ========================================== */

.interior__img {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../images/interior.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.interior__text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

/* ========================================== */

.about__text {
    width: 1048px;
    margin-bottom: 30px;
    margin-left: 3px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

.about__btn {
    display: block;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    background-color: #AD1818;

    font-size: 20px;  
    line-height: 67px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

/* ========================================== */

.projects__list {
    margin-bottom: 90px;
}

.projects__item-image {
    width: 1150px;
    height: 450px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.projects__item-title {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

.projects__details {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #AD1818;
    text-decoration: none;
}

.projects__all-btn {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding: 56px 0;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: center;
    text-decoration: none;
    color: #AD1818;
}

.projects__all-btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

/* ========================================== */

.black-section {
    width: 100%;
    background-color: #121212;
    padding-top: 151px;
    padding-bottom: 147px;
}

.services__title {
    margin-bottom: 34px;
    margin-left: 2px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

.services__image {
    height: 270px;
    margin-bottom: 15px;
}

.services__text {
    margin-left: 3px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF; 
}

.services__list {
    margin-bottom: 60px;
}

.services__list:last-child {
    margin-bottom: 0;
}

/* ========================================== */

.bgimage-section {
    position: relative;
    height: 717px;
    background-image: url(../images/bedroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bgimage__text {
    position: absolute;
    width: 443px;
    bottom: 60px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

/* ========================================== */

.contacts-section {
    padding-top: 150px;
    padding-bottom: 161px;
}

.contacts__title {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.contacts__title:before {
    content: "";
    display: block;
    margin-bottom: 12px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
    background-image: url(../images/iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

.phone {
    display: block;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: none;
    color: #121212;
}

.e-mail {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
    opacity: 50%;
    text-decoration: none;

    border-bottom: 2px solid #12121280;
    padding-bottom: 10px;
}

/* ========================================== */

footer {
    min-width: 1400px;
    padding: 60px 0 30px 0;
    height: 229px;
    background: #121212;
}

.footer-nav {
    margin: 0 auto;
    margin-bottom: 87px;
    width: 460px;
    float: none;
}

.nav__link {    
    margin-left: 55px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.nav__link:first-child {
    margin-left: 0;
} 

.nav__link:hover {
    opacity: 0.5;
} 
  
.footer__title {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    opacity: 0.5;
}
